{% extends 'base.html.twig' %}

{% block body %}
<section class="bg-white dark:bg-gray-900 flex flex-col items-center mx-auto justify-center w-[32rem]">

    <!-- Titulo -->
    <div class="py-6 w-full lg:py-16">
        <h3 class="text-base font-medium tracking-tight leading-none text-gray-700 md:text-lg lg:text-lg dark:text-white">PASO: 1</h3>
        <h3 class="text-lg font-extrabold tracking-tight leading-none text-gray-700 md:text-xl lg:text-xl dark:text-white">Cargar Numero de Orden</h3>
    </div>

    <!--Orden -->
    <form class="w-full">
        <label for="numero-orden" class="text-sm font-semibold text-gray-700 dark:text-gray-300">Numero de Orden:<span class="required-dot text-red-500">*</span></label>
        <input type="number" id="numero-orden" class="input-default" placeholder="123456" required>
    </form>

    <!-- Botones de acción -->
    <div class="mt-4 w-full flex justify-end">
        <button type="submit" class="btn-blue">Enviar/Subir</button>
    </div>

</section>

{% endblock %}